streamlit==1.32.0
spacy==3.7.4
thinc==8.2.3
nltk==3.8.1
transformers==4.38.2
torch==2.2.1
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
